



// override icons

.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url("/images/jstree/throbber.gif") center center no-repeat;
}

.jstree-default .jstree-node,
.jstree-default .jstree-icon {
  background-image: url("/images/jstree/32px.png");
}
.jstree-default .jstree-file {
  background: url("/images/jstree/32px.png") -100px -68px no-repeat;
}
.jstree-default .jstree-folder {
  background: url("/images/jstree/32px.png") -260px -4px no-repeat;
}
.jstree-default-small .jstree-node,
.jstree-default-small .jstree-icon {
  background-image: url("/images/jstree/32px.png");
}

.jstree-default-small > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url("/images/jstree/throbber.gif") center center no-repeat;
}
.jstree-default-small .jstree-file {
  background: url("/images/jstree/32px.png") -103px -71px no-repeat;
}
.jstree-default-small .jstree-folder {
  background: url("/images/jstree/32px.png") -263px -7px no-repeat;
}
#jstree-dnd.jstree-default-small .jstree-ok,
#jstree-dnd.jstree-default-small .jstree-er {
  background-image: url("/images/jstree/32px.png");
  background-repeat: no-repeat;
  background-color: transparent;
}
.jstree-default-large .jstree-node,
.jstree-default-large .jstree-icon {
  background-image: url("/images/jstree/32px.png");
}
.jstree-default-large > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url("/images/jstree/throbber.gif") center center no-repeat;
}
.jstree-default-large .jstree-file {
  background: url("/images/jstree/32px.png") -96px -64px no-repeat;
}
.jstree-default-large .jstree-folder {
  background: url("/images/jstree/32px.png") -256px 0px no-repeat;
}
#jstree-dnd.jstree-default-large .jstree-ok,
#jstree-dnd.jstree-default-large .jstree-er {
  background-image: url("/images/jstree/32px.png");
  background-repeat: no-repeat;
  background-color: transparent;
}

@media (max-width: 768px) {
  #jstree-dnd.jstree-dnd-responsive > .jstree-ok {
    background-image: url("/images/jstree/40px.png");
    background-position: 0 -200px;
    background-size: 120px 240px;
  }
  #jstree-dnd.jstree-dnd-responsive > .jstree-er {
    background-image: url("/images/jstree/40px.png");
    background-position: -40px -200px;
    background-size: 120px 240px;
  }
}
@media (max-width: 768px) {
  .jstree-default-responsive .jstree-icon {
    background-image: url("/images/jstree/40px.png");
  }
  .jstree-default-responsive .jstree-node,
  .jstree-default-responsive .jstree-icon,
  .jstree-default-responsive .jstree-node > .jstree-ocl,
  .jstree-default-responsive .jstree-themeicon,
  .jstree-default-responsive .jstree-checkbox {
    background-image: url("/images/jstree/40px.png");
    background-size: 120px 240px;
  }
  .jstree-default-responsive .jstree-file {
    background: url("/images/jstree/40px.png") 0 -160px no-repeat;
    background-size: 120px 240px;
  }
  .jstree-default-responsive .jstree-folder {
    background: url("/images/jstree/40px.png") -40px -40px no-repeat;
    background-size: 120px 240px;
  }
}


// others

.tree-browser {
  overflow: auto;
}
.file-viewer {
  padding-left: 0px;
  overflow: auto;
}

.jstree-default .jstree-icon:empty {
  width: 24px;
  height: 24px;
  line-height: 24px;
  //width: 0px;
  //height: 0px;
}


.jstree-anchor .jstree-icon.jstree-themeicon.jstree-custom-folder{
  background-image: url('/images/jstree/folder.png') !important;
  background-position: 0 !important;
  width: 0px;
  height: 0px;
}
.jstree-anchor .jstree-icon.jstree-themeicon.jstree-custom-file {
  background-image: url('/images/jstree/file.png') !important;
  background-position: 0 !important;
  width: 0px;
  height: 0px;
}


// hovered clicked

$hov-b : #333;
$hov-s : #26496e;


$cli-b : #486b8f;
$cli-b-to: #26496e;
$cli-s : #375a7f;

$dis-b : #efefef;

.jstree-default .jstree-hovered {
  background: $hov-b;
  border-radius: 0px;
  box-shadow: inset 0 0 1px $hov-s;
}
.jstree-default .jstree-clicked {
  background: $cli-b;
  border-radius: 0px;
  box-shadow: inset 0 0 1px $cli-s;
}
.jstree-default .jstree-disabled.jstree-clicked {
  background: $dis-b;
}
.jstree-default.jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered {
  background: $hov-b;
}
.jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked.jstree-wholerow-hovered {
  background: $hov-b;
}
.jstree-default .jstree-wholerow-hovered {
  background: $hov-b;
}
.jstree-default .jstree-wholerow-clicked {
  background: $cli-b;
  background: -webkit-linear-gradient(top, $cli-b 0%, $cli-b-to 100%);
  background: linear-gradient(to bottom, $cli-b 0%, $cli-b-to 100%);
}

.jstree-default .jstree-disabled.jstree-clicked {
  background: $dis-b;
}
.jstree-default-small .jstree-disabled.jstree-clicked {
  background: $dis-b;
}
.jstree-default-large .jstree-disabled.jstree-hovered {
  background: transparent;
}
.jstree-default-large .jstree-disabled.jstree-clicked {
  background: $dis-b;
}

@media (max-width: 768px) {
  #jstree-dnd.jstree-dnd-responsive {
    line-height: 40px;
    font-weight: bold;
    font-size: 1.1em;
    text-shadow: 1px 1px white;
  }
}
@media (max-width: 768px) {
  .jstree-default-responsive .jstree-wholerow-hovered {
    background: $hov-b;
  }
  .jstree-default-responsive .jstree-wholerow-clicked {
    background: $cli-b;
  }
}

.jstree-default .jstree-last {
  background: none;
}

