.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url("/images/jstree/throbber.gif") center center no-repeat;
}

.jstree-default .jstree-node,
.jstree-default .jstree-icon {
  background-image: url("/images/jstree/32px.png");
}

.jstree-default .jstree-file {
  background: url("/images/jstree/32px.png") -100px -68px no-repeat;
}

.jstree-default .jstree-folder {
  background: url("/images/jstree/32px.png") -260px -4px no-repeat;
}

.jstree-default-small .jstree-node,
.jstree-default-small .jstree-icon {
  background-image: url("/images/jstree/32px.png");
}

.jstree-default-small > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url("/images/jstree/throbber.gif") center center no-repeat;
}

.jstree-default-small .jstree-file {
  background: url("/images/jstree/32px.png") -103px -71px no-repeat;
}

.jstree-default-small .jstree-folder {
  background: url("/images/jstree/32px.png") -263px -7px no-repeat;
}

#jstree-dnd.jstree-default-small .jstree-ok,
#jstree-dnd.jstree-default-small .jstree-er {
  background-image: url("/images/jstree/32px.png");
  background-repeat: no-repeat;
  background-color: transparent;
}

.jstree-default-large .jstree-node,
.jstree-default-large .jstree-icon {
  background-image: url("/images/jstree/32px.png");
}

.jstree-default-large > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url("/images/jstree/throbber.gif") center center no-repeat;
}

.jstree-default-large .jstree-file {
  background: url("/images/jstree/32px.png") -96px -64px no-repeat;
}

.jstree-default-large .jstree-folder {
  background: url("/images/jstree/32px.png") -256px 0px no-repeat;
}

#jstree-dnd.jstree-default-large .jstree-ok,
#jstree-dnd.jstree-default-large .jstree-er {
  background-image: url("/images/jstree/32px.png");
  background-repeat: no-repeat;
  background-color: transparent;
}

@media (max-width: 768px) {
  #jstree-dnd.jstree-dnd-responsive > .jstree-ok {
    background-image: url("/images/jstree/40px.png");
    background-position: 0 -200px;
    background-size: 120px 240px;
  }

  #jstree-dnd.jstree-dnd-responsive > .jstree-er {
    background-image: url("/images/jstree/40px.png");
    background-position: -40px -200px;
    background-size: 120px 240px;
  }
}
@media (max-width: 768px) {
  .jstree-default-responsive .jstree-icon {
    background-image: url("/images/jstree/40px.png");
  }

  .jstree-default-responsive .jstree-node,
  .jstree-default-responsive .jstree-icon,
  .jstree-default-responsive .jstree-node > .jstree-ocl,
  .jstree-default-responsive .jstree-themeicon,
  .jstree-default-responsive .jstree-checkbox {
    background-image: url("/images/jstree/40px.png");
    background-size: 120px 240px;
  }

  .jstree-default-responsive .jstree-file {
    background: url("/images/jstree/40px.png") 0 -160px no-repeat;
    background-size: 120px 240px;
  }

  .jstree-default-responsive .jstree-folder {
    background: url("/images/jstree/40px.png") -40px -40px no-repeat;
    background-size: 120px 240px;
  }
}
.tree-browser {
  overflow: auto;
}

.file-viewer {
  padding-left: 0px;
  overflow: auto;
}

.jstree-default .jstree-icon:empty {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.jstree-anchor .jstree-icon.jstree-themeicon.jstree-custom-folder {
  background-image: url("/images/jstree/folder.png") !important;
  background-position: 0 !important;
  width: 0px;
  height: 0px;
}

.jstree-anchor .jstree-icon.jstree-themeicon.jstree-custom-file {
  background-image: url("/images/jstree/file.png") !important;
  background-position: 0 !important;
  width: 0px;
  height: 0px;
}

.jstree-default .jstree-hovered {
  background: #333;
  border-radius: 0px;
  box-shadow: inset 0 0 1px #26496e;
}

.jstree-default .jstree-clicked {
  background: #486b8f;
  border-radius: 0px;
  box-shadow: inset 0 0 1px #375a7f;
}

.jstree-default .jstree-disabled.jstree-clicked {
  background: #efefef;
}

.jstree-default.jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered {
  background: #333;
}

.jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked.jstree-wholerow-hovered {
  background: #333;
}

.jstree-default .jstree-wholerow-hovered {
  background: #333;
}

.jstree-default .jstree-wholerow-clicked {
  background: #486b8f;
  background: -webkit-linear-gradient(top, #486b8f 0%, #26496e 100%);
  background: linear-gradient(to bottom, #486b8f 0%, #26496e 100%);
}

.jstree-default .jstree-disabled.jstree-clicked {
  background: #efefef;
}

.jstree-default-small .jstree-disabled.jstree-clicked {
  background: #efefef;
}

.jstree-default-large .jstree-disabled.jstree-hovered {
  background: transparent;
}

.jstree-default-large .jstree-disabled.jstree-clicked {
  background: #efefef;
}

@media (max-width: 768px) {
  #jstree-dnd.jstree-dnd-responsive {
    line-height: 40px;
    font-weight: bold;
    font-size: 1.1em;
    text-shadow: 1px 1px white;
  }
}
@media (max-width: 768px) {
  .jstree-default-responsive .jstree-wholerow-hovered {
    background: #333;
  }

  .jstree-default-responsive .jstree-wholerow-clicked {
    background: #486b8f;
  }
}
.jstree-default .jstree-last {
  background: none;
}

@media (min-width: 768px) {
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar {
    min-height: 30px;
    max-height: 30px;
    height: 30px;
    margin-bottom: 0;
    border-radius: 0;
  }

  .navbar.navbar-default > .container-fluid {
    padding-left: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 0.9em;
  }
  html .dropdown-menu, body .dropdown-menu {
    font-size: 0.9em;
  }
  html .navbar-nav > li > .dropdown-menu, body .navbar-nav > li > .dropdown-menu {
    margin-top: -2px;
  }
  html #content, body #content {
    background: transparent !important;
    height: calc(100% - 31px);
    width: 100%;
  }
  html #content .fs, body #content .fs {
    background: #222222;
    z-index: 5;
    position: absolute;
    top: 31px;
    left: 0;
    max-width: 300px;
    width: 300px;
    height: calc(100% - 31px);
    border-right: 1px solid #375a7f;
  }
  html #content .fs .fs-browser, body #content .fs .fs-browser {
    max-width: 300px;
    height: calc(100% - 30px);
  }
  html #content .fs .header, body #content .fs .header {
    padding: 0 10px;
    background: #486b8f;
  }
  html #content .fs .header p, body #content .fs .header p {
    min-height: 31px;
    padding: 5px;
    margin: 0;
    line-height: 21px;
  }
  html #content .fs .flag, body #content .fs .flag {
    display: none;
    position: absolute;
    height: 20px;
    font-size: 0.9em;
    background: #375a7f;
    color: #fff;
    bottom: 59px;
    right: -23px;
    padding: 2px 5px;
    line-height: 13px;
  }
  html #content .fs .flag:hover, body #content .fs .flag:hover {
    background: #486b8f;
  }
  html #content .fs .flag.two, body #content .fs .flag.two {
    display: none;
    background: transparent;
    right: -22px;
    bottom: 195px;
  }
  html #content .fs .flag.two:hover, body #content .fs .flag.two:hover {
    background: #444;
  }
  html #content .inspector, body #content .inspector {
    background: #222222;
    z-index: 4;
    position: absolute;
    top: 30px;
    left: 0;
    max-width: 300px;
    width: 300px;
    height: calc(100% - 31px);
    border-right: 1px solid #375a7f;
  }
  html #content .inspector .header, body #content .inspector .header {
    padding: 0 10px;
    background: #486b8f;
  }
  html #content .inspector .header li.active a, body #content .inspector .header li.active a {
    background: #375a7f;
  }
  html #content .inspector .header p, body #content .inspector .header p {
    min-height: 31px;
    padding: 5px;
    margin: 0;
    line-height: 21px;
  }
  html #content .inspector .flag, body #content .inspector .flag {
    display: none;
    position: absolute;
    height: 20px;
    font-size: 0.9em;
    background: #AA3939;
    color: #fff;
    bottom: 32px;
    right: -23px;
    padding: 2px 5px;
    line-height: 13px;
  }
  html #content .inspector .flag:hover, body #content .inspector .flag:hover {
    background: #D46A6A;
  }
  html #content .inspector .inspect-browser, html #content .inspector .console-browser, body #content .inspector .inspect-browser, body #content .inspector .console-browser {
    max-width: 300px;
    height: calc(100% - 30px);
    font-size: 0.9em;
    word-wrap: break-word;
  }
  html #content .inspector .inspect-browser .toggle .glyphicon, html #content .inspector .console-browser .toggle .glyphicon, body #content .inspector .inspect-browser .toggle .glyphicon, body #content .inspector .console-browser .toggle .glyphicon {
    font-size: 0.8em;
  }
  html #content .inspector .inspect-browser ul, html #content .inspector .console-browser ul, body #content .inspector .inspect-browser ul, body #content .inspector .console-browser ul {
    padding-left: 10px;
  }
  html #content .inspector .inspect-browser ul, html #content .inspector .inspect-browser li, html #content .inspector .console-browser ul, html #content .inspector .console-browser li, body #content .inspector .inspect-browser ul, body #content .inspector .inspect-browser li, body #content .inspector .console-browser ul, body #content .inspector .console-browser li {
    list-style: none;
  }
  html #content .usecase, body #content .usecase {
    background: #222222;
    z-index: 4;
    position: absolute;
    top: 30px;
    left: 0;
    max-width: 300px;
    width: 300px;
    height: calc(100% - 31px);
    border-right: 1px solid #2D882D;
  }
  html #content .usecase .usecase-browser, body #content .usecase .usecase-browser {
    max-width: 300px;
    height: calc(100% - 30px);
    width: 300%;
  }
  html #content .usecase .header, body #content .usecase .header {
    padding: 0 10px;
    background: #2D882D;
  }
  html #content .usecase .header p, body #content .usecase .header p {
    min-height: 31px;
    padding: 5px;
    margin: 0;
    line-height: 21px;
  }
  html #content .usecase .flag, body #content .usecase .flag {
    display: none;
    position: absolute;
    height: 20px;
    font-size: 0.9em;
    background: #2D882D;
    color: #fff;
    bottom: 5px;
    right: -23px;
    padding: 2px 5px;
    line-height: 13px;
  }
  html #content .usecase .flag:hover, body #content .usecase .flag:hover {
    background: #3e993e;
  }
  html #content .usecase .usecase-browser, body #content .usecase .usecase-browser {
    max-width: 300px;
    height: calc(100% - 30px);
    font-size: 0.9em;
  }
  html #content .usecase .usecase-browser .toggle .glyphicon, body #content .usecase .usecase-browser .toggle .glyphicon {
    font-size: 0.8em;
  }
  html #content .usecase .usecase-browser ul, body #content .usecase .usecase-browser ul {
    padding-left: 10px;
  }
  html #content .usecase .usecase-browser ul, html #content .usecase .usecase-browser li, body #content .usecase .usecase-browser ul, body #content .usecase .usecase-browser li {
    list-style: none;
  }
  html #content .console, body #content .console {
    background: #222222;
    z-index: 5;
    position: absolute;
    top: 31px;
    right: 0;
    max-width: 300px;
    width: 300px;
    height: calc(100% - 31px);
    border-left: 1px solid #444;
  }
  html #content .console .header, body #content .console .header {
    padding: 0 10px;
    background: #333;
  }
  html #content .console .header p, body #content .console .header p {
    min-height: 31px;
    padding: 5px;
    margin: 0;
    line-height: 21px;
  }
  html #content .console .flag, body #content .console .flag {
    display: none;
    position: absolute;
    height: 20px;
    font-size: 0.9em;
    background: #333;
    color: #fff;
    bottom: 5px;
    left: -23px;
    padding: 2px 5px;
    line-height: 13px;
  }
  html #content .console .flag:hover, body #content .console .flag:hover {
    background: #444;
  }
  html #content .console .console-browser, body #content .console .console-browser {
    font-size: 11px;
    max-width: 300px;
    height: calc(100% - 30px);
    max-height: 100%;
  }
  html #content .file-viewer, body #content .file-viewer {
    z-index: 1;
    margin-left: 300px;
    position: relative;
    height: 100%;
    overflow-x: hidden;
  }
  html #content.twoView .fs .flag, body #content.twoView .fs .flag {
    margin-top: -10px;
    bottom: 5px;
  }
  html #content.twoView .fs .flag.two, body #content.twoView .fs .flag.two {
    bottom: 72px;
  }
  html #content.twoView .inspector .flag, body #content.twoView .inspector .flag {
    margin-top: -10px;
    bottom: 5px;
  }
  html #content.twoView .inspector .flag.two, body #content.twoView .inspector .flag.two {
    bottom: 72px;
  }
  html #content.twoView .usecase .flag, body #content.twoView .usecase .flag {
    margin-top: -10px;
    bottom: 5px;
  }
  html #content.twoView .usecase .flag.two, body #content.twoView .usecase .flag.two {
    bottom: 72px;
  }

  .jspVerticalBar {
    width: 8px;
  }

  .jspHorizontalBar {
    height: 8px;
    background: #375a7f;
  }

  .jspTrack {
    background: #375a7f;
  }

  .jspDrag {
    background: #597c9f;
  }

  .nav-tabs {
    border-bottom: 1px solid #486b8f;
  }

  .tab-content {
    height: calc(100% - 32px);
  }

  .nav-tabs > li > a {
    padding: 0px 8px;
    border-radius: 0;
    line-height: 32px;
    height: 32px;
    border: 0;
    border-bottom: 1px solid #486b8f;
  }

  .nav-tabs > li > a:hover {
    background: #333;
    color: #fff;
    border-radius: 0;
    border-bottom: 1px solid #486b8f;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #486b8f;
    color: #fff;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #486b8f;
  }

  #tabs {
    background: #272822;
  }
  #tabs li.saved i.glyphicon-asterisk {
    display: none;
  }
  #tabs li.unsaved i.glyphicon-asterisk {
    display: inline-block;
  }

  .tab-content {
    padding: 0 0px 0 0px;
    background: #272822;
  }

  .CodeMirror {
    height: auto;
  }

  .CodeMirror-hscrollbar, .CodeMirror-vscrollbar {
    display: none !important;
  }

  h4.modal-title {
    font-size: 1.2em;
    line-height: 1;
  }

  .form-control {
    height: 30px;
    padding: 5px 10px;
    border-radius: 0;
  }

  .form-horizontal .control-label {
    padding-top: 5px;
  }

  .btn {
    border-radius: 0;
    padding: 5px 10px;
  }

  .panel-padding {
    padding: 3px;
  }

  .modal-content {
    border-radius: 0;
  }

  .controls a {
    color: #fff;
  }

  .wrap-3d-usecase {
    border-radius: 4px;
    padding: 5px;
    margin: 0 10px 10px 0;
    display: inline-block;
    line-height: 1.2;
    border: 1px solid #464545;
  }
  .wrap-3d-usecase a {
    text-decoration: none;
  }

  .wrap-3d-usecase.active {
    background: #375a7f;
  }
  .wrap-3d-usecase.active a {
    color: #fff;
    text-decoration: none;
  }
}
.jspVerticalBar, .jspHorizontalBar {
  z-index: 2;
}
