@import "compass/css3";
@import "jstree";

@media (min-width: 768px) {

  .navbar-collapse {
    padding-left:0;
    padding-right:0;
  }

  .navbar-nav>li>a {
    padding-top:5px;
    padding-bottom:5px;
  }
  .navbar {
    min-height: 30px;
    max-height: 30px;
    height: 30px;
    margin-bottom: 0;
    border-radius: 0;
  }
  .navbar.navbar-default > .container-fluid {
    padding-left:0;
  }


  html, body {
    height: 100%;
    width:100%;
    overflow: hidden;

    font-size:0.9em;
    .dropdown-menu { font-size:0.9em; }
    .navbar-nav>li>.dropdown-menu { margin-top: -2px }


    #content {
      background: transparent !important;
      height: calc(100% - 31px);
      width:100%;

      .fs {
        background: #222222;
        z-index:5;
        position: absolute;
        top:31px;
        left:0;
        max-width: 300px;
        width: 300px;
        height: calc(100% - 31px);
        border-right: 1px solid #375a7f;
        //float:left;

        .fs-browser {
          max-width: 300px;
          height: calc(100% - 30px);
        }
        .header {
          padding: 0 10px;
          background: #486b8f;
          //background: linear-gradient(to right, #486b8f, #4F628E);
          //border-bottom:1px solid #486b8f;
          p {
            min-height: 31px;
            padding: 5px;
            margin:0;
            line-height: 21px;
          }
        }
        .flag {
          display:none;
          &:hover {
            background: #486b8f;
          }
          position:absolute;
          height: 20px;
          font-size:0.9em;
          background: #375a7f;
          color: #fff;
          bottom:59px;
          right:-23px;
          padding:2px 5px;
          line-height:13px;

          //-webkit-transform: rotate(90deg);
          //-moz-transform: rotate(90deg);
          //-o-transform: rotate(90deg);
          //-ms-transform: rotate(90deg);
          //transform: rotate(90deg);
        }
        .flag.two {
          display:none;
          background: transparent;
          &:hover {
            background: #444;
          }
          right: -22px;
          bottom: 195px;
        }
      }
      .inspector {
        background: #222222;
        z-index:4;
        position: absolute;
        top:30px;
        left:0;
        max-width: 300px;
        width: 300px;
        height: calc(100% - 31px);
        border-right: 1px solid #375a7f;
//        border-right: 1px solid #AA3939;
        //float:left;

        .header {
          padding: 0 10px;
//          background: #AA3939;
          background: #486b8f;
          li.active a {
            background: #375a7f;
          }
          //background: linear-gradient(to right, #AA3939, #D46A6A);
          //border-bottom:1px solid #AA3939;
          p {
            min-height: 31px;
            padding: 5px;
            margin:0;
            line-height: 21px;
          }
        }
        .flag {
          display:none;
          &:hover {
            background: #D46A6A;
          }
          position:absolute;
          height: 20px;
          font-size:0.9em;
          background: #AA3939;
          color: #fff;
          bottom:32px;
          right:-23px;
          padding:2px 5px;
          line-height:13px;

          //-webkit-transform: rotate(90deg);
          //-moz-transform: rotate(90deg);
          //-o-transform: rotate(90deg);
          //-ms-transform: rotate(90deg);
          //transform: rotate(90deg);
        }
        //.flag.two {
        //  background: #333;
        //  &:hover {
        //    background: #444;
        //  }
        //  right: -22px;
        //  bottom: 135px;
        //}

        .inspect-browser, .console-browser {
          max-width: 300px;
          height: calc(100% - 30px);
          font-size: 0.9em;
          word-wrap: break-word;

          .toggle .glyphicon {
            font-size:0.8em;
          }
          ul {
            padding-left: 10px;
          }
          ul, li {
            list-style: none;
          }
        }
      }


      .usecase {
        background: #222222;
        z-index:4;
        position: absolute;
        top:30px;
        left:0;
        max-width: 300px;
        width: 300px;
        height: calc(100% - 31px);
        border-right: 1px solid #2D882D;
        //float:left;

        .usecase-browser {
          max-width: 300px;
          height: calc(100% - 30px);
          width: 300%;
        }
        .header {
          padding: 0 10px;
          background: #2D882D;
          //background: linear-gradient(to right, #2D882D, #88CC88);
          //border-bottom:1px solid #2D882D;
          p {
            min-height: 31px;
            padding: 5px;
            margin:0;
            line-height: 21px;
          }
        }
        .flag {
          display:none;
          &:hover {
            background: #3e993e;
          }
          position:absolute;
          height: 20px;
          font-size:0.9em;
          background: #2D882D;
          color: #fff;
          bottom:5px;
          right:-23px;
          padding:2px 5px;
          line-height:13px;

          //-webkit-transform: rotate(90deg);
          //-moz-transform: rotate(90deg);
          //-o-transform: rotate(90deg);
          //-ms-transform: rotate(90deg);
          //transform: rotate(90deg);
        }

        .usecase-browser {
          max-width: 300px;
          height: calc(100% - 30px);
          font-size: 0.9em;


          .toggle .glyphicon {
            font-size:0.8em;
          }
          ul {
            padding-left: 10px;
          }
          ul, li {
            list-style: none;
          }

        }
      }



      .console {
        background: #222222;
        z-index:5;
        position: absolute;
        top:31px;
        right:0;
        max-width: 300px;
        width: 300px;
        height: calc(100% - 31px);
        border-left: 1px solid #444;
        //float:left;

        .header {
          padding: 0 10px;
          background: #333;
          //background: linear-gradient(to right, #333, #222);
          //border-bottom:1px solid #333;
          p {
            min-height: 31px;
            padding: 5px;
            margin:0;
            line-height: 21px;
          }
        }
        .flag {
          display:none;
          &:hover {
            background: #444;
          }
          position:absolute;
          height: 20px;
          font-size:0.9em;
          background: #333;
          color: #fff;
          bottom:5px;
          left:-23px;
          padding:2px 5px;
          line-height:13px;

          //-webkit-transform: rotate(270deg);
          //-moz-transform: rotate(270deg);
          //-o-transform: rotate(270deg);
          //-ms-transform: rotate(270deg);
          //transform: rotate(270deg);
        }
        .console-browser {
          //font-family: "Courier New";
          font-size: 11px;
          max-width: 300px;
          height: calc(100% - 30px);
          max-height: 100%;
        }
      }

      .file-viewer {
        z-index:1;
        margin-left: 300px;
        position: relative;
        height: 100%;
        overflow-x: hidden;


      }
      &.twoView .fs {
        .flag {
          margin-top:-10px;
          bottom:5px;
        }
        .flag.two {
          bottom:72px;
        }
      }
      &.twoView .inspector {
        .flag {
          margin-top:-10px;
          bottom:5px;
        }
        .flag.two {
          bottom:72px;
        }
      }
      &.twoView .usecase {
        .flag {
          margin-top:-10px;
          bottom:5px;
        }
        .flag.two {
          bottom:72px;
        }
      }
    }
  }


  .jspVerticalBar {
    width: 8px;
  }
  .jspHorizontalBar {
    height: 8px;
    background: #375a7f;
  }
  .jspTrack {
    background: #375a7f;
  }
  .jspDrag {
    background: #597c9f;
  }

  .nav-tabs {
    border-bottom: 1px solid #486b8f;
    //background: #222;

    //top: 30px;
    //position: fixed;
    //z-index: 5;
  }
  .tab-content {
    height:calc(100% - 32px);
  }
  .nav-tabs>li>a {
    padding: 0px 8px;
    border-radius:0;
    line-height: 32px;
    height: 32px;
    border:0;
    border-bottom: 1px solid #486b8f;
  }
  .nav-tabs>li>a:hover {
    background: #333;
    color:#fff;
    border-radius:0;
    border-bottom: 1px solid #486b8f;

  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background: #486b8f;
    color:#fff;
    border:0;
    border-radius:0;
    border-bottom: 1px solid #486b8f;
  }
  #tabs {

    background: #272822;



    li.saved {
      i.glyphicon-asterisk {
        display:none;
      }
    }
    li.unsaved {
      i.glyphicon-asterisk {
        display:inline-block;
      }
    }

  }
  .tab-content {
    //border: 1px solid #375a7f;
    padding: 0 0px 0 0px;
    background: #272822;
  }


  .CodeMirror {
    height: auto;
  }
  .CodeMirror-hscrollbar, .CodeMirror-vscrollbar {
    display:none!important;
  }

  h4.modal-title {
    font-size:1.2em;
    line-height: 1;
  }
  .form-control {
    height: 30px;
    padding: 5px 10px;
    border-radius: 0;
  }
  .form-horizontal .control-label {
    padding-top: 5px;
  }
  .btn {
    border-radius: 0;
    padding: 5px 10px;
  }
  .panel-padding {
    padding: 3px;
  }
  .modal-content {
    border-radius:0;
  }


  .controls a {
    color: #fff;
  }
  .wrap-3d-usecase {
    border-radius: 4px;
    padding:5px; 
    margin: 0 10px 10px 0;
    display:inline-block;
    line-height: 1.2;
    border: 1px solid #464545;
    a {
      text-decoration: none;
    }
  }
  .wrap-3d-usecase.active {
    background:#375a7f;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}



.jspVerticalBar, .jspHorizontalBar {
  z-index: 2;
}