<html>
<head>
    <title>DizP</title>
    <style>
        body { margin: 0; }
        canvas { width: 100%; height: 100% }
    </style>
</head>
<body>
<script src="js/lib/three/three.min.js"></script>
<script src="js/lib/three/OrbitControls.js"></script>
<script src="js/lib/three/FontUtils.js"></script>
<script src="js/lib/three/TextGeometry.js"></script>
<script src="js/lib/three/helvetiker_regular.typeface.js"></script>
<script src="js/lib/three/Tween.js"></script>
<script>
    var Drawer = {

        scene:          null,
        camera:         null,
        renderer:       null,
        controls:       null,
        raycaster:      null,
        mouse:          new THREE.Vector2(),
        zShift:         0.15,
        bgColor:        0x4F628E,
        textSize:       1,
        lineSpacing:    0.5,
        textColor:      0xffffff,
        textBgColor:    0x333333,
        textBgOpacity:  0.5,
        textMargin:     0.5,
        arrowColor:     0xffffff,
        intersects:     {},
        bgIntersectUUID: null,
        intersected:    null,

        init: function (position) {
            this.scene = new THREE.Scene();

            var SCREEN_WIDTH = window.innerWidth, SCREEN_HEIGHT = window.innerHeight,
                    VIEW_ANGLE = 45, ASPECT = SCREEN_WIDTH / SCREEN_HEIGHT, NEAR = 0.1, FAR = 20000;
            this.camera = new THREE.PerspectiveCamera( VIEW_ANGLE, ASPECT, NEAR, FAR);
            this.camera.lookAt(this.scene.position);
            this.camera.position.x = position.x;
            this.camera.position.y = position.y;
            this.camera.position.z = position.z;
            this.scene.add(this.camera);

            this.renderer = new THREE.WebGLRenderer();
            this.renderer.setSize( window.innerWidth, window.innerHeight );

            this.controls = new THREE.OrbitControls( this.camera, this.renderer.domElement );
            this.controls.userPanSpeed = 0.4;

            var that = this;
            this.raycaster = new THREE.Raycaster();
            document.addEventListener( 'mousemove', function (event) {
                event.preventDefault();

                that.mouse.x = ( event.clientX / window.innerWidth ) * 2 - 1;
                that.mouse.y = - ( event.clientY / window.innerHeight ) * 2 + 1;
            }, false );

            document.addEventListener( 'mousedown',  function (event) {
                event.preventDefault();

                that.onMouseClick(that.intersected);
            }, false );

            var backgroundGeometry = new THREE.CubeGeometry( 10000, 10000, 10000 );
            var backgroundMaterial = new THREE.MeshBasicMaterial( { color: this.bgColor, side: THREE.BackSide } );
            var backgroundBox = new THREE.Mesh( backgroundGeometry, backgroundMaterial );
            this.intersects[backgroundBox.uuid] = {
                object: backgroundBox
            };
            this.bgIntersectUUID = backgroundBox.uuid;
            this.scene.add(backgroundBox);

            document.body.appendChild( this.renderer.domElement );
        },

        onMouseOver: function (object) {
            if (this.bgIntersectUUID == object.uuid) return;
            var intersect = this.intersects[object.uuid];
            if (intersect.mouseOver)
                intersect.mouseOver(intersect);
        },
        onMouseOut: function (object) {
            if (this.bgIntersectUUID == object.uuid) return;
            var intersect = this.intersects[object.uuid];
            if (intersect.mouseOut)
                intersect.mouseOut(intersect);
        },
        onMouseClick: function (object) {
            if (object) {
                var intersect = this.intersects[object.uuid];
                if (intersect.mouseClick)
                    intersect.mouseClick(intersect);
            }
        },

        render: function () {

            var that = this;

            var renderF = function () {
                requestAnimationFrame( renderF );
                that.controls.update();

                TWEEN.update();

                // MOUSE out and over
                that.raycaster.setFromCamera( that.mouse, that.camera );
                var intersects = that.raycaster.intersectObjects( that.scene.children );

                if (intersects.length > 0 && intersects[0].object.uuid in that.intersects) {
                    if (that.intersected != intersects[0].object) {
                        if (that.intersected) {
                            that.onMouseOut(that.intersected);
                        }

                        that.intersected = intersects[0].object;

                        that.onMouseOver(intersects[0].object);
                    }
                }

                that.renderer.render(that.scene, that.camera);
            };

            renderF();
        },

        drawLines: function (options) {

            var line = 0,
                    lineShift = this.textSize+this.lineSpacing,
                    maxWidth = 0,
                    maxHeight = 0,
                    that = this,
                    linesReturn = [];

            for (var i in options.lines) {
                var textShapes = THREE.FontUtils.generateShapes(
                        options.lines[i].text,
                        {
                            'font' : 'helvetiker',
                            'weight' : 'normal',
                            'style' : 'normal',
                            'size' : this.textSize
                        });
                var textG = new THREE.ShapeGeometry( textShapes );
                var textMesh = new THREE.Mesh( textG, new THREE.MeshBasicMaterial( {
                    color: that.textColor,
                    side: THREE.DoubleSide
                }));

                var box = new THREE.Box3().setFromObject( textMesh );
                if (box.size().x > maxWidth) maxWidth = box.size().x;
                maxHeight += lineShift;

                line += 1;
                textMesh.position.set(options.position.x, options.position.y+(line*(-lineShift)), options.position.z+this.zShift);
                linesReturn[i] = {position: {x:options.position.x, y: options.position.y+(line*(-lineShift))+(box.size().y/2), z: options.position.z+this.zShift}};

                this.scene.add( textMesh );


                var geometry = new THREE.BoxGeometry( box.size().x, box.size().y, 0 );
                var material = new THREE.MeshBasicMaterial( {
                    color: that.textBgColor,
                    side: THREE.DoubleSide,
                    transparent: true,
                    opacity: 0
                } );
                var cube = new THREE.Mesh( geometry, material );
                cube.renderOrder = 1;
                cube.position.set(options.position.x+(box.size().x/2), options.position.y+(line*(-lineShift))+(box.size().y/2), options.position.z+this.zShift/2);

                this.intersects[cube.uuid] = {
                    text: textMesh,
                    cube: cube,
                    mouseOver: options.lines[i].mouseOver,
                    mouseOut: options.lines[i].mouseOut,
                    mouseClick: options.lines[i].mouseClick
                };
                this.scene.add( cube );
            }

            var margin = this.textMargin;
            var width = maxWidth+(margin*2), height = maxHeight+(margin*2);
            var geometry = new THREE.BoxGeometry( width, height, 0.1 );
            var material = new THREE.MeshBasicMaterial( {
                color: that.textBgColor,
                side: THREE.DoubleSide,
                transparent: true,
                opacity: that.textBgOpacity
            } );
            var cube = new THREE.Mesh( geometry, material );
            cube.position.set(options.position.x+(maxWidth/2), options.position.y-(maxHeight/2), options.position.z);

            this.intersects[cube.uuid] = {
                cube: cube,
                mouseOver: options.mouseOver,
                mouseOut: options.mouseOut,
                mouseClick: options.mouseClick
            };
            this.scene.add( cube );

            return linesReturn;
        },

        drawArrow: function (options) {
            var sourcePos = new THREE.Vector3(options.src.x, options.src.y, options.src.z);
            var targetPos = new THREE.Vector3(options.dst.x, options.dst.y, options.dst.z);
            var direction = new THREE.Vector3().subVectors(targetPos, sourcePos);
            var arrow = new THREE.ArrowHelper(
                    direction.clone().normalize(),
                    sourcePos,
                    direction.length(),
                    this.arrowColor
            );
            this.scene.add(arrow);
        },
        moveCameraTo: function (position, shiftZ) {
            new TWEEN.Tween( this.camera.position ).to( {
                x: 0,
                y: position.y,
                z: position.z+shiftZ}, 1000 ).start();
            new TWEEN.Tween( this.controls.center ).to( {
                x: 0,
                y: 0,
                z: 0}, 1000 ).start();
        }



    };


    var betweenLayers = 30;
    var zLayers = [
        betweenLayers+betweenLayers, betweenLayers, 0
    ];

    Drawer.init({ x: 15, y: 15, z: zLayers[0]+45 });
//    Drawer.init({ x: 0, y: 0, z: zLayers[0]+45 });

    var lines = Drawer.drawLines({
        lines: [
            {
                text: "Use case 'Maria!'",
                mouseClick: function (object) { Drawer.moveCameraTo(object.cube.position, betweenLayers-1); }
            },
            {
                text: "1. Maria",
                mouseOver: function (object) {
                    object.text.material.color.r -= 0.1;
                    object.text.material.color.g -= 0.1;
                    object.text.material.color.b -= 0.1;
                },
                mouseOut: function (object) {
                    object.text.material.color.r = 1;
                    object.text.material.color.g = 1;
                    object.text.material.color.b = 1;
                }
            },
            {
                text: "2. Ahoj",
            },
            {
                text: "3. Ako",
            },
            {
                text: "4. Sa",
            },
            {
                text: "5. Mas",
            },
            {
                text: "6. Wuueeeiiiiii",
            },
            {
                text: "7. Test",
            }
        ],
        position: { x: 0, y: 0, z: zLayers[0] }
    });


    var lines2 = Drawer.drawLines({
        lines: [
            {
                text: "Use case ' das das das das das da'",
                mouseClick: function (object) { Drawer.moveCameraTo(object.cube.position, betweenLayers-1); }
            },
            {
                text: "1. 3333",
                mouseOver: function (object) {
                    console.log('ON FIRST STEP');
                },
                mouseOut: function (object) {
                    console.log('OUT FIRST STEP');
                }
            }
        ],
        position: { x: 0, y: 0, z: zLayers[1] }
    });

    Drawer.drawLines({
        lines: [
            {
                text: "Use case ' 43534534534543534534534'",
                mouseClick: function (object) { Drawer.moveCameraTo(object.cube.position, betweenLayers-1); }
            },
            {
                text: "1. asdhkskdas",
                mouseOver: function (object) {
                    console.log('ON FIRST STEP');
                },
                mouseOut: function (object) {
                    console.log('OUT FIRST STEP');
                }
            }
        ],
        position: { x: 0, y: 0, z: zLayers[2] }
    });

    Drawer.drawArrow({
        src: lines[1].position,
        dst: lines2[0].position
    });

    Drawer.render();



</script>
</body>
</html>