<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DizP</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap-dark.min.css' />
    <link rel='stylesheet' href='/js/lib/jstree/dist/themes/default/style.min.css' />
    <link rel='stylesheet' href='/js/lib/jScrollPane/style/jquery.jscrollpane.css' />

    <link rel=stylesheet href="/js/lib/codemirror/lib/codemirror.css">
    <link rel=stylesheet href="/js/lib/codemirror/theme/monokai.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/js/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/js/lib/angular/angular.min.js"></script>
    <script src="/js/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/js/lib/angular-websocket/angular-websocket.min.js"></script>

    <script src="/js/lib/jstree/dist/jstree.min.js"></script>
    <script src="/js/lib/jstree-directive/jsTree.directive.js"></script>

    <!--<script src="/js/lib/prettyprint.js"></script>-->

    <script src="/js/lib/jScrollPane/script/jquery.mousewheel.js"></script>
    <script src="/js/lib/jScrollPane/script/jquery.jscrollpane.min.js"></script>

    <script src="/js/lib/codemirror/lib/codemirror.js"></script>
    <script src="/js/lib/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/js/lib/codemirror/mode/xml/xml.js"></script>
    <script src="/js/lib/codemirror/mode/markdown/markdown.js"></script>
    <script src="/js/lib/codemirror/mode/python/python.js"></script>
    <script src="/js/lib/codemirror/mode/ruby/ruby.js"></script>
    <script src="/js/lib/codemirror/mode/sql/sql.js"></script>
    <script src="/js/lib/codemirror/mode/javascript/javascript.js"></script>
    <script src="/js/lib/codemirror/mode/css/css.js"></script>
    <script src="/js/lib/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="/js/lib/codemirror/mode/clike/clike.js"></script>
    <script src="/js/lib/codemirror/mode/php/php.js"></script>


    <script src="/js/lib/contextmenu.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/services.js"></script>


      <script src="js/lib/three/three.min.js"></script>
      <script src="js/lib/three/OrbitControls.js"></script>
      <script src="js/lib/three/FontUtils.js"></script>
      <script src="js/lib/three/TextGeometry.js"></script>
      <script src="js/lib/three/helvetiker_regular.typeface.js"></script>
      <script src="js/lib/three/Tween.js"></script>
      <script src="js/lib/three/EdgesHelper.js"></script>


      <script src="js/drawer.js"></script>

  </head>
  <body ng-app="app" ng-controller="AppCtrl">

  <nav class="navbar navbar-default"  ng-controller="MenuCtrl">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="#">Brand</a>-->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
              <!--File-->
            <!--</a>-->
            <!--<ul class="dropdown-menu">-->

              <!--<li><a ng-click="newFile()">New</a></li>-->
              <!--<li><a ng-click="saveFileClicked()">Save</a></li>-->

            <!--</ul>-->
          <!--</li>-->


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Project
            </a>
            <ul class="dropdown-menu">

              <li><a ng-click="newProject()">New</a></li>
              <li><a ng-click="openProjectModal()">Open</a></li>

            </ul>
          </li>

          <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
              <!--View-->
              <!--&lt;!&ndash;<span class="caret"></span>&ndash;&gt;-->
            <!--</a>-->
            <!--<ul class="dropdown-menu">-->
              <!--<li><a ng-click="exTwoView()">Expand</a></li>-->

            <!--</ul>-->
          <!--</li>-->

          <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
              <!--Help-->
              <!--&lt;!&ndash;<span class="caret"></span>&ndash;&gt;-->
            <!--</a>-->
            <!--<ul class="dropdown-menu">-->
              <!--<li><a ng-click="">About</a></li>-->

            <!--</ul>-->
          <!--</li>-->
        </ul>
        <!--<form class="navbar-form navbar-left" role="search">-->
          <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="Search">-->
          <!--</div>-->
          <!--<button type="submit" class="btn btn-default">Submit</button>-->
        <!--</form>-->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=user.name%></a>
            <ul class="dropdown-menu">
              <li><a href="/logout.json">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
          </div>
          <div class="modal-body" ng-include="modalSource">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="modalClick()">{{modalConfirm}}</button>
          </div>
        </div>
      </div>
    </div>


    <div id="confirm" class="modal fade">
      <div class="modal-dialog" role="document" style="width:200px">
        <div class="modal-content">
          <div class="modal-body" style="text-align: center;">
            Are you sure?
          </div>
          <div class="modal-footer" style="text-align: center;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Remove</button>
          </div>
        </div>
      </div>
    </div>

    <div id="new-file" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">New file/folder</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-4 control-label" for="name">Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="new-file-name" name="name" placeholder="Name">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary" id="create">Create</button>
          </div>
        </div>
      </div>
    </div>


  </nav>
  <div id="content">

    <div class="fs">
      <div class="header">
        <p>Folder ./projects/</p>
      </div>
      <div class="fs-browser">
        <div ng-controller="FilebrowserCtrl">
          <js-tree tree-events="select_node:nodeSelected;load_node:loadNode;after_open:openNode;after_close:openNode" tree-ajax="/api/tree?dir=./var/<%=user.username%>/projects/"></js-tree>
        </div>
      </div>




      <ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none" >
        <li><a tabindex="-1" href="#" data-menu-id="new-file">New file</a></li>
        <li><a tabindex="-1" href="#" data-menu-id="new-folder">New folder</a></li>
        <li><a tabindex="-1" href="#" data-menu-id="rm">Remove</a></li>
        <li role="separator" class="divider"></li>
        <li><a tabindex="-1" href="#" data-menu-id="refresh">Refresh</a></li>
      </ul>

    </div>


    <div class="inspector">
      <div class="header">
        <!--<p>Inspector</p>-->
          <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#3d" aria-controls="3d" role="tab" data-toggle="tab">3D</a></li>
              <li role="presentation"><a href="#inspector" aria-controls="inspector" role="tab" data-toggle="tab">Inspector</a></li>
              <li role="presentation"><a href="#console" aria-controls="console" role="tab" data-toggle="tab">Console</a></li>
          </ul>
      </div>

      <script type="text/ng-template" id="field_renderer.html">
        <span class="toggle" ng-if="field.childs.length > 0">
              <i class="glyphicon glyphicon-plus"></i>
            </span>
        <span style="width:11px;height: 14px;display: inline-block" ng-if="field.childs.length == 0"></span>
        <span class="title">{{field.type}} {{field.name}}</span>

        <ul ng-if="field.childs.length > 0">
          <li ng-repeat="field in field.childs" ng-include="'field_renderer.html'"></li>
        </ul>
      </script>

        <div class="tab-content" style="height:100%;width:100%">
            <div role="tabpanel" class="tab-pane active" id="3d" style="height:100%;width:100%">

                <div id="3dview" style="position:relative; height:100%;width:100%"  ng-controller="ThreeDCtrl">
                    <div class="controls" style="position:absolute; top:5px; left:5px; ">
                        <div style="margin: 0 0 5px 0">
                            <a href="#" ng-click="usecaseOpen()" >
                                Open...
                            </a>
                        </div>
                        <div style="margin: 0 0 5px 0">
                            <a href="#" ng-click="usecaseReload()" >
                                Reload
                            </a>
                        </div>
                        <div class="checkbox" style="margin: 0 0 5px 0">
                            <label>
                                <input type="checkbox" value="" onchange="enlarge3dview(this)">
                                Enlarge
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="inspector" style="height:100%;width:100%">
                <div class="inspect-browser">

                    <div ng-controller="InspectorCtrl" class="panel-padding">
                        <li ng-repeat="field in inspected" ng-include="'field_renderer.html'"></li>
                    </div>

                </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="console" style="height:100%;width:100%">

                <div class="console-browser">
                    <div ng-controller="ConsoleCtrl" class="panel-padding">
                        <div ng-repeat="data in Console.collection track by $index" ng-bind-html="trustAsHtml(data)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="flag" ng-click="hideInspector()">
        <div style="width:13px;height:13px;line-height:13px;text-align:center"><i class="glyphicon glyphicon-eye-open"></i></div>
      </div>

    </div>


    <div class="usecase">
      <div class="header">
        <p>Use case</p>
      </div>

      <div class="usecase-browser">

        <div ng-controller="UsecaseCtrl" class="panel-padding">
          <li ng-repeat="uc in usecases">
            <span class="toggle" ng-if="uc.scenario.steps.length > 0">
              <i class="glyphicon glyphicon-plus"></i>
            </span>
            <span style="width:11px;height: 14px;display: inline-block" ng-if="uc.scenario.steps.length == 0"></span>
            <span class="title">{{uc.name}}</span>

            <ul ng-if="uc.scenario.steps.length > 0">
              <li ng-repeat="step in uc.scenario.steps">
                {{step.no}} {{step.played_by}} {{step.name}}
              </li>
            </ul>
          </li>
        </div>

      </div>
      <div class="flag" ng-click="hideUsecase()">
        <div style="width:13px;height:13px;line-height:13px;text-align:center"><i class="glyphicon glyphicon-user"></i></div>
      </div>
    </div>





    <div class="file-viewer" style="height:100%;">
      <div id="tabs" style="height:100%;">
        <ul class="nav nav-tabs" role="tablist">
          <li  role="presentation" data-i="{{key}}" data-basename="{{tab.basename}}" ng-repeat="(key, tab) in tabs track by $index" class="file-tab file-tab{{key}} saved">
            <a href="#tabs-{{key}}" aria-controls="home" role="tab" data-toggle="tab"  data-path="{{tab.path}}" >
              {{tab.basename}} <i class="glyphicon glyphicon-asterisk" style="font-size:0.8em;margin-left:3px" ></i> <i class="glyphicon glyphicon-remove" style="font-size:0.8em;margin-left:5px" ng-click="removeTab(key)"></i>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" data-i="{{key}}" class="tab-pane" id="tabs-{{key}}" ng-repeat="(key, tab) in tabs track by $index" style="height:100%;position:relative">
            <textarea id="code-{{key}}">{{tab.code}}</textarea>
          </div>
        </div>
      </div>

    </div>
    <script>
        window['jScrollPane'] = {};
      $(document).ready(function()
      {
        function initScroll(selector) {
          var jsp = $(selector).jScrollPane().data('jsp');
          function onresize(jsp) {
                  $(window).on('resize', function(){
                    jsp.reinitialise();
                  });
          }
          onresize(jsp);
            window['jScrollPane'][selector] = function () {
                jsp.reinitialise();
            }
        }
        initScroll('.fs-browser');
        initScroll('.inspect-browser');
        initScroll('.usecase-browser');
        initScroll('.console-browser');
//        initScroll('.file-viewer #tabs .tab-pane');

        window.userPath = 'var/<%=user.username%>/';
      });
    </script>
  </div>


  <script>

      function enlarge3dview(element) {
          var tdview = $("#3dview");
          if (element.checked) {
              tdview.attr('style', "position:fixed; top:31px;left:300px;z-index:6;width:calc(100% - 300px); height:calc(100% - 30px)");
              Drawer.redraw({ width: tdview.innerWidth(), height: tdview.innerHeight(), top: tdview.offset().top, left: tdview.offset().left });
          } else {
            var size = {
              width: $(".inspector").width(),
              height: $(".inspector").height() - $(".inspector .header").height()
            };
              tdview.attr('style', "position:relative; height:"+(size.height)+"px;width:"+(size.width)+"px");
              Drawer.redraw({ width: size.width, height: size.height, top: tdview.offset().top, left: tdview.offset().left });
          }
      }

      function draw3dviewTest() {

          var betweenLayers = 30;
          var zLayers = [
                      betweenLayers+betweenLayers, betweenLayers, 0
          ];

          var tdview = $(document.getElementById('3dview'));
            var size = {
              width: tdview.width(),
              height: $(".inspector").height() - $(".inspector .header").height()
            };
          Drawer.init(
                  tdview[0],
                  { width: size.width, height: size.height, top: tdview.offset().top, left: tdview.offset().left },
                  { x: 15, y: 15, z: zLayers[0]+45 },
                  {
                    walk: false
                  }
          );
          //    Drawer.init({ x: 0, y: 0, z: zLayers[0]+45 });



          var placeOrder = Drawer.drawLines({
              lines: [
                  {
                      text: "Use case Place Order",
                      mouseClick: function (object) { Drawer.moveCameraTo(object.cube.position, betweenLayers-1); }
                  },
                  { text: "1. User selects to order items." },
                  { 
                    text: "2. System prompts for 'billing' and 'shipping' info.", 
                    doubleMouseClick: function (object) {
                      object.cube.position.z -= betweenLayers;
                      Drawer.moveCameraTo(object.cube.position, betweenLayers-1);
                    } 
                  },
                  { text: "3. User enters billing and shipping info." },
                  { text: "4. System shows the price including taxes, shipping charges and estimated delivery date." },
                  { text: "5. User confirms the price." },
                  { text: "6. System prompts for method of payment." },
                  { text: "7. User selects a method of payment." },
                  { text: "8. System requests Billing system for charging user for the order." },
                  { text: "9. Billing system confirms that user was charged." },
                  { text: "10. System notifies user that was charged." },

                  ],

              position: { x: 0, y: 0, z: zLayers[0] }
          });


          var promptFor = Drawer.drawLines({
              lines: [
                  {
                      text: "Subfunction Prompt For",
                      mouseClick: function (object) { Drawer.moveCameraTo(object.cube.position, betweenLayers-1); }
                  },
                  { text: "1. System renders a form based on parameters." },
                  { text: "2. System obtains data 'pre-defined values'." },
                  { text: "3. System fills the form with the pre-defined values." }
              ],
              position: { x: 0, y: placeOrder[2].position.y, z: zLayers[1] }
          });


          var renderForm = Drawer.drawLines({
              lines: [
                  {
                      text: "Subfunction Render Form",
                      mouseClick: function (object) { Drawer.moveCameraTo(object.cube.position, betweenLayers-1); }
                  },
                  { text: "1. System fetches template file based on parameter 'ID'." },
                  { text: "2. System pairs the template file with parameters." },
              ],
              position: { x: 0, y: promptFor[1].position.y, z: zLayers[2] }
          });


          var obtainData = Drawer.drawLines({
              lines: [
                  {
                      text: "Subfunction Obtain Data",
                      mouseClick: function (object) { Drawer.moveCameraTo(object.cube.position, betweenLayers-1); }
                  },
                  { text: "1. System check whether user has access to the database." },
                  { text: "2. System connects to the database." },
                  { text: "3. System logs in to the database." },
                  { text: "4. System requests data from the databse based on parameters." },
                  { text: "5. Database responds with the data." }
              ],
              position: { x: 0, y: promptFor[2].position.y-5, z: zLayers[2] }
          });

          var fillForm = Drawer.drawLines({
              lines: [
                  {
                      text: "Subfunction Fill Form",
                      mouseClick: function (object) { Drawer.moveCameraTo(object.cube.position, betweenLayers-1); }
                  },
                  { text: "1. System searches for inputs inside document based on parameters." },
                  { text: "2. System fills the inpus with parameters." },
              ],
              position: { x: 0, y: promptFor[3].position.y-14, z: zLayers[2] }
          });


          // var showPrice = Drawer.drawLines({
          //     lines: [
          //         {
          //             text: "Subfunction Shows Price Including Taxes, Shipping Charges and Estimated Delivery Date",
          //             mouseClick: function (object) { Drawer.moveCameraTo(object.cube.position, betweenLayers-1); }
          //         },
          //         { text: "1. System calculates price based on the shipping cart." },
          //         { text: "2. System predicts the estimated delivery date." },
          //         { text: "3. System renders the 'price' form." },
          //     ],
          //     position: { x: 0, y: placeOrder[4].position.y-5, z: zLayers[1] }
          // });

          Drawer.drawArrow({ src: placeOrder[2].position, dst: promptFor[0].position, text: "<<include>>" });
          Drawer.drawArrow({ src: promptFor[1].position, dst: renderForm[0].position });
          Drawer.drawArrow({ src: promptFor[2].position, dst: obtainData[0].position });
          Drawer.drawArrow({ src: promptFor[3].position, dst: fillForm[0].position });
          // Drawer.drawArrow({ src: placeOrder[4].position, dst: showPrice[0].position });
          // Drawer.drawArrow({ src: showPrice[3].position, dst: renderForm[0].position });

          Drawer.render();
      }

    function draw3dview(usecases, relationships) {

      Drawer.destroy();

      /**
       * INIT
       */

      var betweenLayers = 30;

      var lastYPositionForZLayers = {};
      var maxXForXLayers = [
        0, 0, 0, 0, 0, 0
      ];
      // first is 0
      var lastXId = 0;

      var tdview = $(document.getElementById('3dview'));
      
      var size = {
          width: tdview.width(),
          height: $(".inspector").height() - $(".inspector .header").height()
      };

      var betweenX = 5;
      var betweenY = -5;
      
      Drawer.init(
              tdview[0],
              { width: size.width, height: size.height, top: tdview.offset().top, left: tdview.offset().left },
              { x: 15, y: 15, z: 90+45 },
              {
                walk: false
              }
      );


      /**
       * Draw use cases
       */

       function findInArray(id, usecases) {
         for (var i in usecases) {
          if (id === usecases[i].id) return usecases[i];
         }
         return null;
       }

       // id: usecase
       var drawedUsecases = {}, drawedRelations = {};

       for (var i in usecases) {
         var usecase = usecases[i];
         if (usecase.id in drawedUsecases) continue;


         /**
          * Draw the usecase and their related usecases and relationships between them - recursive
          */

          function drawUsecase (usecase, position) {
             if (usecase === null) return;
             // prepare draw data
             var drawData = [
                    {
                        text: "Use case   "+usecase.name,
                        mouseClick: function (object) { Drawer.moveCameraTo(object.cube.position, betweenLayers-1); }
                    },
                    {
                        text: "",
                        mouseClick: function (object) { Drawer.moveCameraTo(object.cube.position, betweenLayers-1); }
                    }];

            for (var j in usecase.scenario.steps) {
             drawData.push({
               text: 
                 usecase.scenario.steps[j].orig_name
             });
            }

            // draw
             var drawedUsecase = Drawer.drawLines({
                 lines: drawData,
                 position: position
             });

            // drawedUsecase.usecase = usecase;
            drawedUsecases[usecase.id] = drawedUsecase;
            return drawedUsecase;
          }

          

         var drawedUsecase = drawUsecase(usecase, {
          x: maxXForXLayers[lastXId],
          y: 0,
          z: 0
        });
         lastYPositionForZLayers[0] = drawedUsecase[drawedUsecase.length-1].position.y+betweenY;
         for (var k in drawedUsecase) 
          if ((drawedUsecase[k].position.x+drawedUsecase[k].size.x+betweenX)>maxXForXLayers[lastXId+1]) 
            maxXForXLayers[lastXId+1] = (drawedUsecase[k].position.x+drawedUsecase[k].size.x+betweenX);
         



         // get related use cases with depth 1 draw them and relationships and then recurse with newly drawed
         function drawRelations(usecase, drawedUsecase, zDrawed) {
           if (usecase === null) return;

           var z = null, usecase_id = null, direction = true, proceed = false;

           for (var j in relationships) {

            // draw in back of usecase
            if (relationships[j].usecase_id == usecase.id &&
               (!(relationships[j].related_usecase_id in drawedUsecases))) {
              z = zDrawed-betweenLayers;
              usecase_id = relationships[j].related_usecase_id;
              proceed = true;
              direction = true;

            } else 
            // draw in front of use case
            if (relationships[j].related_usecase_id == usecase.id &&
               (!(relationships[j].usecase_id in drawedUsecases))) {
              z = zDrawed+betweenLayers;
              usecase_id = relationships[j].usecase_id;
              proceed = true;
              direction = false;

            }

            if (proceed) {

              var y = 0; 
              if (z in lastYPositionForZLayers) {
                y = lastYPositionForZLayers[z];
              }

              var toDraw = findInArray(usecase_id, usecases),
                  drawedUsecaseDst;

              if (usecase_id in drawedUsecases) {
                drawedUsecaseDst = drawedUsecases[usecase_id];
              } else {
                var step;
                if (relationships[j].step_no) {
                  step = parseInt(relationships[j].step_no.replace(/[a-zA-Z\.]*/g, ''));
                } else {
                  step = -2;
                }
                var steightLine = drawedUsecase[step+2].position.y+1;
                if (y>steightLine) 
                  y = steightLine;
                drawedUsecaseDst = drawUsecase(toDraw, {
                  x: maxXForXLayers[lastXId],
                  y: y,
                  z: z
                });

                lastYPositionForZLayers[z] = drawedUsecaseDst[drawedUsecaseDst.length-1].position.y+betweenY;
               for (var k in drawedUsecaseDst) 
                if ((drawedUsecaseDst[k].position.x+drawedUsecaseDst[k].size.x+betweenX)>maxXForXLayers[lastXId+1]) 
                  maxXForXLayers[lastXId+1] = (drawedUsecaseDst[k].position.x+drawedUsecaseDst[k].size.x+betweenX);

              }

              var src, 
                  dst,
                  step;
              if (relationships[j].step_no) {
                step = parseInt(relationships[j].step_no.replace(/[a-zA-Z\.]*/g, ''));
              } else {
                step = -2;
              }

              if (direction) {
                if (relationships[j].type == 'extend') {
                  src = drawedUsecase[0]; 
                  dst = drawedUsecaseDst[step+2];
                } else {
                  src = drawedUsecase[step+2]; 
                  dst = drawedUsecaseDst[0];
                }
              } else {
                if (relationships[j].type == 'extend') {
                  src = drawedUsecaseDst[0];
                  dst = drawedUsecase[step+2];
                } else {
                  src = drawedUsecaseDst[step+2];
                  dst = drawedUsecase[0];
                }
              }

              var relation_id = 
                relationships[j].id;

              if (!(relation_id in drawedRelations)) {
                console.log(drawedRelations);
                var relation;
                if (relationships[j].step_no) {
                  relation = Drawer.drawArrow({ src: src.position, dst: dst.position, text: relationships[j].type });
                } else {
                  relation = Drawer.drawArrow({ src: src.position, dst: dst.position, text: relationships[j].type });
                }
                drawedRelations[relation_id] = relation;

              }

              drawRelations(toDraw, drawedUsecaseDst, z);

            }

           } 
         }

         drawRelations(usecase, drawedUsecase, 0);

         lastXId++;
         console.log('Leaving '+usecase.name, lastXId, maxXForXLayers[lastXId]);



       }

      
      Drawer.render();


    }



    $(document).ready(function() {
      // draw3dviewTest();
    });


  </script>


  </body>
</html>
