<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-4 control-label" for="name">Project name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="name" name="name" placeholder="My project" value="My project" onkeyup="$('#project_path').val('./projects/'+$(this).val().replace(/[^a-zA-Z_]/g, '')+'/')">
        </div>

    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"  for="project_path">Project path</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="project_path" name="project_path" value="./projects/Myproject/">
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label class="col-sm-4 control-label"  for="migration_path">Existing sources path</label>-->
        <!--<div class="col-sm-8">-->
            <!--<input type="text" class="form-control" id="migration_path" name="migration_path" value="../projects/projectname/src/">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="col-sm-4 control-label"  for="tpl_path">Template path</label>-->
        <!--<div class="col-sm-8">-->
            <!--<input type="text" class="form-control" id="tpl_path" name="tpl_path" value="../projects/projectname/tpl/">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="col-sm-4 control-label"  for="gen_path">Generator path</label>-->
        <!--<div class="col-sm-8">-->
            <!--<input type="text" class="form-control" id="gen_path" name="gen_path" value="../projects/projectname/lib/">-->
        <!--</div>-->
    <!--</div>-->
</form>


<script>
    $('#migration_path').tooltip({'trigger':'focus', 'title': 'This folder will not be affected', placement: 'right'});
    $('#tpl_path').tooltip({'trigger':'focus', 'title': 'Input or use cases folder', placement: 'right'});
    $('#gen_path').tooltip({'trigger':'focus', 'title': 'Output folder', placement: 'right'});
</script>