
<div class="list-group">
    <a href="#" data-id="{{project.id}}" class="list-group-item open-project" onclick="$(this).parent().find('a').removeClass('active');$(this).addClass('active')" ng-repeat="project in projects" >
        <h4 class="list-group-item-heading">{{project.name}}</h4>
        <p class="list-group-item-text">{{project.project_path_pub}}</p>
    </a>
</div>