
<div class="wrap-3d-usecase" data-id="all">
	<a href="#" class="open-3d-usecase"  onclick="if(!$(this).parent().hasClass('active')) $(this).parent().addClass('active'); else $(this).parent().removeClass('active')">All...</a>
</div>
<div ng-repeat="usecase in usecases" class="wrap-3d-usecase"  data-id="{{usecase.id}}">
	<a href="#" class="open-3d-usecase"  onclick="if(!$(this).parent().hasClass('active')) $(this).parent().addClass('active'); else $(this).parent().removeClass('active')">{{usecase.name}}</a>
</div>
    