         <form>
             <div class="form-group">
                 <label for="title">Title</label>
                 <input type="text" class="form-control" id="article-title" placeholder="Enter title">
             </div>
             <div class="form-group">
                 <label for="content">Content</label>
                 <textarea class="form-control" id="article-content" rows="3"></textarea>
             </div>
             <div id="result"></div>
             <button type="submit" class="btn btn-default" id="do-add-article">Submit</button>
         </form>

