

             {% for (var i=0, article; article=o.articles[i]; i++) { %}
             <div class="article" data-id="{%=i%}">
                <h3>
                    {%=article.title%}
                </h3>
                <p>
                    {%=article.content%}
                </p>
             </div>
             {% } %}


