         .footer {
               color: #333;
               background-color: #efefef;
                height: 48px;
                line-height: 48px;
            }
            .footer p {
             margin: 0 15px;
            }

