
         <link rel='stylesheet'  href="{%=o.pathDir%}/footer.css" type="text/css" />
         
         <div class="row footer">
            <div class="col-12">
             <p>2016 Breaking News.</p>
          </div>
         </div>


