
         <link rel='stylesheet'  href="{%=o.pathDir%}/frame.css" type="text/css" />

         <div class="container">

             <div class="row logo">
                <div class="col-12">
                    <img src="/img/logo.png" alt="">
                </div>
             </div>

             <div id="menu">

             </div>

             <div id="content">
                 <p>
                    Welcome to <strong>Breaking News</strong>.
                 </p>
             </div>

             <div id="footer">

             </div>
         </div>


