                <div class="form-group">
                    <label for="title">{%=o.name%}</label>
                    <input type="text" class="form-control" id="input-{%=o.name%}" placeholder="Enter {%=o.name%}">
                </div>

