
         <link rel='stylesheet'  href="{%=o.pathDir%}/menu.css" type="text/css" />

         <div class="row">
            <div class="col-12">
                 <ul id="menu">
                     <li><a href="#" id="button-add-article">Add Article</a></li>
                     <li><a href="#" id="button-show-articles">Show Articles</a></li>
                     <li><a href="#" id="button-review-articles">Review Articles</a></li>
                     <li><a href="#" id="button-place-order">Place Order</a></li>
                 </ul>
            </div>
         </div>


