                <div class="form-group">
                    <label for="content">{%=o.name%}</label>
                    <textarea class="form-control" id="textarea-{%=o.name%}" rows="3"></textarea>
                </div>

